---
title: PF 2015 | Actum
description: Actum wishes you a merry christmas!
---
<h1>
    <a href="http://www.actum.cz/" title="Actum website"><img src="http://www.actum.cz/~/media/Images/HomePage/Header/Actum-square_menší.ashx?h=71&amp;w=153" alt="logo cz" width="153" height="71"></a>
    <span>wishes you a merry christmas!</span>
</h1>

<img id="greeting" width="800" height="500">
<canvas id="paint" width="800" height="500"></canvas>

<p>
    <button type="button" id="create">Create your own PF</button>
</p>
<div id="create-box" class="hidden">
    <p>
        <label for="text">Your PF message:</label>
        <input type="text" placeholder="PF 2015" id="text">
        <button type="button" id="share">Preview</button>
    </p>
</div>
<div id="share-box" class="hidden">
    <p>
        <label for="share-link">Share:</label>
        <input type="text" id="share-link" onClick="this.select();">
    </p>
</div>

<div class="how-to">
    <a href="http://en.wikipedia.org/wiki/Autostereogram" target="_blank">What is it?</a>
    <a href="http://www.hidden-3d.com/how_to_view_stereogram.php" target="_blank">How to use it?</a>
</div>

<p class="footer">
    Stereogram generated using <a href="http://peeinears.github.io/MagicEye.js/" target="_blank">MagicEye.js</a>.
</p>
