---
title: Greeting | Actum
---
<h1>
    <img src="http://www.actum.cz/~/media/Images/HomePage/Header/Actum-square_menší.ashx?h=71&amp;w=153" alt="logo cz" width="153" height="71">
    <span>wishes you a merry christmas!</span>
</h1>

<img id="greeting" width="800" height="500">
<canvas id="paint" width="800" height="500"></canvas>

<p>
    <button type="button" id="create">Create your own Magic Eye PF</button>
</p>
<div id="create-box" class="hidden">
    <p>
        Write your PF message <input type="text" placeholder="PF 2015" id="text"> <button type="button" id="share">Preview</button>
    </p>
</div>
<div id="share-box" class="hidden">
    <p>
        Share this link <input type="text" id="share-link" onClick="this.select();">
    </p>
</div>

<div class="how-to">
    <a href="http://en.wikipedia.org/wiki/Autostereogram">What is it?</a>
    <a href="http://www.hidden-3d.com/how_to_view_stereogram.php">How to use it?</a>
</div>
